svg {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #89CEFF;
}

.axisLabels path:not(.highlightableElement) {
    stroke: #E70000;
    stroke-width: 2;
}

.axisLabels text {
    font-family: Bahnschrift;
    font-style: italic;
    font-weight: bold;
    fill: #005AD4;
    stroke-width: 0.5px;
    font-size: 15px;
}
.axisXLabels text {
    font-family: Bahnschrift;
    font-weight: bold;
    fill: #005AD4;
    stroke-width: 0.5px;
    font-size: 10px;
    font-style: normal;
}
.axisXLabels.first text {
    fill: #E70000;
    font-size: 12px;
}
.raceNameText {
    font-family: Bahnschrift;
    font-weight: bold;
    fill: #005AD4;
    font-size: 30px;
    font-style: normal;
}

.button rect {
    fill: url(#ButtonNormal_Gradient);
}

.button.onHover rect {
    fill: url(#ButtonHover_Gradient);
}

.button.onPressed rect {
    fill: url(#ButtonPressed_Gradient);
}

.highlighted .highlightableElement {
    stroke-opacity: 0.25;
}

.highlightedPath {
    stroke-opacity: 1;
}

.deHilightedGroup {
    stroke-opacity: 0.25;
}

.deHilightedGroup .highlightablePath {
    stroke-opacity: 1;
}