
.vs/Visualization_project/config/applicationhost.config
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Visualization_project/v16/.suo
.vs/VSWorkspaceState.json
data/~$Visualisation_Data.xlsx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vs/
.eslintrc.json
node_modules/
scripts/.eslintrc.js